@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 font-sans antialiased text-gray-900 bg-gray-50;
  }
}

@layer components {
  .admin-container {
    @apply flex w-full;
  }

  .main-content {
    @apply flex-[4];
  }
}
